<div class="container">
  <div class="row">
    <div class="col s12 m4">
      <h3 class="center">Ready to open shop?</h3><br>
    </div>
  </div>
  <form name="MoneyForm">

    <div class="row">
      <div class="col s12">
        <p class="left-align">Enter the number of bills and coins you have in the drawer</p>
      </div>
      <div class="col s12">
        <p class="left-align">BILLS</p>
      </div><br>
      <div class="col s1">
        <div input-field>
            <input class="blue lighten-5" type="number" ng-model="cashDrawer.hun" length="3">
            <label>$100</label>
        </div>
      </div>
      <div class="col s1">
        <div input-field>
            <input class="blue lighten-5" type="number" ng-model="cashDrawer.fif" length="3">
            <label>$50</label>
        </div>
      </div>
      <div class="col s1">
        <div input-field>
            <input class="blue lighten-5" type="number" ng-model="cashDrawer.twe" length="3">
            <label>$20</label>
        </div>
      </div>
      <div class="col s1">
        <div input-field>
            <input class="blue lighten-5" type="number" ng-model="cashDrawer.ten" length="3">
            <label>$10</label>
        </div>
      </div>
      <div class="col s1">
        <div input-field>
            <input class="blue lighten-5" type="number" ng-model="cashDrawer.fiv" length="3">
            <label>$5</label>
        </div>
      </div>
      <div class="col s1">
        <div input-field>
            <input class="blue lighten-5" type="number" ng-model="cashDrawer.two" length="3">
            <label>$2</label>
        </div>
      </div>
      <div class="col s1">
        <div input-field>
            <input class="blue lighten-5" type="number" ng-model="cashDrawer.one" length="3">
            <label>$1</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <p class="left-align">COINS</p>
      </div><br>
      <div class="col s1">
        <div input-field>
            <input class="blue lighten-5" type="number" ng-model="cashDrawer.sdl" length="3">
            <label>$1</label>
        </div>
      </div>
      <div class="col s1">
        <div input-field>
            <input class="blue lighten-5" type="number" ng-model="cashDrawer.hlf" length="3">
            <label>50¢</label>
        </div>
      </div>
      <div class="col s1">
        <div input-field>
            <input class="blue lighten-5" type="number" ng-model="cashDrawer.qtr" length="3">
            <label>25¢</label>
        </div>
      </div>
      <div class="col s1">
        <div input-field>
            <input class="blue lighten-5" type="number" ng-model="cashDrawer.dme" length="3">
            <label>10¢</label>
        </div>
      </div>
      <div class="col s1">
        <div input-field>
            <input class="blue lighten-5" type="number" ng-model="cashDrawer.nck" length="3">
            <label>5¢</label>
        </div>
      </div>
      <div class="col s1">
        <div input-field>
            <input class="blue lighten-5" type="number" ng-model="cashDrawer.pny" length="3">
            <label>1¢</label>
        </div>
      </div>
    </div><br><br>
    <input type=button class="waves-effect waves-light btn" name=calc value="Calculate" ng-click="total()">&nbsp;&nbsp;&nbsp;
    <input type="reset" class="waves-effect waves-light btn" value="Clear Values"><br><br>
    <div class="col s1 m1 l1">
      <h3>${{cashDrawerTotal | number: 2}}</h3>
    </div>
  </form>
  <div ng-include="'partials/product-form.html'"></div>
</div>






