
<div class="row">
  <h3>Store Inventory</h3>
  <table class="highlight responsive-table">
    <thead>
      <tr>
          <th data-field="name">Product</th>
          <th data-field="price">Price</th>
          <th data-field="cost">Cost</th>
          <th data-field="qty">Quantity</th>
          <th data-field="edit">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in products">
        <td>{{product.name}}</td>
        <td>${{product.price}}</td>
        <td>${{product.cost}}</td>
        <td>{{product.qty}}</td>
        <td><a><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>
