<div class="row">
  <form class="col s12">
    <h3>{{title}}</h3>
    <div class="row">
      <div class="input-field col s5 m4">
        <input ng-model="product.name" type="text" class="validate teal lighten-4">
        <label for="Product">Product Name/Description</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s1 m1">
        <input tooltipped ng-model="product.price" type="number" class="validate teal lighten-4" data-position="bottom" data-delay="50" data-tooltip="How much are you charging customers?">
        <label for="price">Price</label>
      </div>
      <div class="input-field col s1 m1">
        <input tooltipped ng-model="product.cost" type="number" class="validate teal lighten-4" data-position="bottom" data-delay="50" data-tooltip="What does this cost you?">
        <label for="cost">Cost</label>
      </div>
      <div class="input-field col s1 m1">
        <input tooltipped ng-model="product.qty" type="number" class="validate teal lighten-4" data-position="bottom" data-delay="50" data-tooltip="How many do you have in stock?">
        <label for="qty">Quantity</label>
      </div>
      <div class="col s2">
        <p>Is this taxable?</p>
        <div class="switch">
          <label>
            No
            <input ng-model="product.isTaxable" type="checkbox">
            <span class="lever"></span>
            Yes
          </label>
        </div>
      </div>
    </div>
    <button class="waves-effect waves-light btn">{{btnText}}</button>
    <input type="reset" class="waves-effect waves-light btn" value="Clear Form">
  </form>
</div>
